
    <h2 class="lmbt">客户信息</h2>
    <table class="center-block" style="width:97.5%; margin-bottom:10px;">
        <tr>
            <td>
                <form class="form-inline col-md-4" action="{:U('__SELFURL__', I('get.'))}" method="get">
                    <label for="name">活动/来源查询：</label>
                    <select class="form-control" onchange="searchDict(this)">
                        <notempty name="eventTitle">
                            <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_dict'=>I('get.branch_dict')])}">请选择活动</option>
                            <foreach name="eventTitle" item="val">
                                <if condition="I('get.branch_evt') EQ $val['id']">
                                    <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_evt'=>$val['id'], 'branch_dict'=>I('get.branch_dict')])}" selected>{$val.title}</option>
                                <else />
                                    <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_evt'=>$val['id'], 'branch_dict'=>I('get.branch_dict')])}">{$val.title}</option>
                                </if>
                            </foreach>
                        </notempty>
                    </select>

                    <eq name="Think.get.branch_dict" value="infoSources.0.name4">selected</eq>
                    <select class="form-control" style="margin-left:20px" onchange="searchDict(this)">
                        <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_evt'=>I('get.branch_evt')])}">请选择来源</option>
                        <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_dict'=>$infoSources['0']['name1'], 'branch_evt'=>I('get.branch_evt')])}" <?php if(urlencode($infoSources[0]['name1']) == urlencode(I('get.branch_dict'))){echo 'selected';}?>>{$infoSources.0.name1}</option>
                        <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_dict'=>$infoSources['0']['name2'], 'branch_evt'=>I('get.branch_evt')])}" <?php if(urlencode($infoSources[0]['name2']) == urlencode(I('get.branch_dict'))){echo 'selected';}?>>{$infoSources.0.name2}</option>
                        <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_dict'=>$infoSources['0']['name3'], 'branch_evt'=>I('get.branch_evt')])}" <?php if(urlencode($infoSources[0]['name3']) == urlencode(I('get.branch_dict'))){echo 'selected';}?>>{$infoSources.0.name3}</option>
                        <option value="{:U('__SELFURL__', ['table'=>I('get.table'), 'bid'=>I('get.bid'), 'branch_dict'=>$infoSources['0']['name4'], 'branch_evt'=>I('get.branch_evt')])}" <?php if(urlencode($infoSources[0]['name4']) == urlencode(I('get.branch_dict'))){echo 'selected';}?>>{$infoSources.0.name4}</option>
                    </select>
                    <!-- <a class="btn btn-info" href="{:U('/marketing/view', ['table'=>I('get.table'), 'bid'=>I('get.bid')])}" >还原</a> -->
                </form>
                <script>
                function searchDict(obj){
                    window.location.href = $(obj).val();
                }
                </script>
                <form class="form-inline col-md-4" action="{:U('__SELFURL__')}" method="get" >
                    <input type="text" name="namePhone" class="form-control" placeholder="请输入手机号码或姓名"/>
                    <input class="btn btn-info" type="submit" value="查询" />
                    <?php
                    $get = I('get.');
                    //$get = array_unique($get);
                    unset($get['namePhone']);
                    foreach($get as $key => $val){
                    ?>
                    <input type="hidden" name="{$key}" value="{$val}">
                    <?php
                    }
                    ?>
                    <a class="btn btn-info" href="{:U('/marketing/view', ['table'=>I('get.table'), 'bid'=>I('get.bid')])}" >还原</a>
                </form>
                <form class="form-inline inline1" style="margin-left:15px;" action="__APP__?m=Index&a=fenpei" method="post">
                <input type="hidden" name="uid" value="{$Think.session.userid}">
                <if condition="in_array('分配权限',$gn)">
                    <select class="form-control" name="guwen">
                        <option value="跳过">-请选择课程顾问-</option>
                        <volist name="listq" id="go">
                            <?php if(strpos($go['r_id'],'5')!==false){  ?>
                            <option value="{$go.u_id}">{$go.u_users}</option>
                            <?php   }?>
                        </volist>
                    </select>
                    <input class="btn btn-info" type="submit" value="批量分配" onclick="jlls()"/>
                </if>
            </td>
        </tr>
    </table>
    <script>
    function jlls() {  
        if(window.confirm('确实要分配吗？')){
            //alert("确定");
            //window.location.href='__APP__?m=Index&a=fenpei';
            return true;
        }else{
            //alert("取消");
            return false;
        }
    }//del end
    </script>
    <table class="table table-bordered center-block" style="width:97.5%; margin-top:0px;">
        <thead>
            <tr>
                <th>相关活动</th>
                <th>手机号码</th>
                <th>姓名</th>
                <th>性别</th>
                <th>联系人姓名</th>
                <th>联系人手机号码</th>
                <th>采单员</th>
                <th>采单日期</th>
                <th>采单地点</th>
                <th>信息来源</th>
                <th>客户等级</th>
            </tr>
        </thead>
        <if condition="$results">
            <foreach name="results" item="val">
                <tr>
                    <td>
                        <input name="id[]" type="checkbox" value="{$val.id}">
                        {$val.id|findStudentInfo='student_marketing',###, 'branch_dict'}
                    </td>
                    <td class="text-center">{$val.phone}</td>
                    <td class="text-center">{$val.name}</td>
                    <td class="text-center">{$val.sex_text}</td>
                    <td class="text-center">{$val.id|findStudentInfo='student_family', ###, 'contact'}</td>
                    <td class="text-center">{$val.id|findStudentInfo='student_family', ###, 'contact_phone'}</td>
                    <td class="text-center">{$val.id|findStudentInfo='student_operation', ###, 'create_user'|findMember=###, 'name'}</td>
                    <td class="text-center">{$val.id|findStudentInfo='student_marketing', ###, 'collection_date'}</td>
                    <td class="text-center">{$val.id|findStudentInfo='student_marketing', ###, 'collection_location'}</td>
                    <td class="text-center">{$val.id|findStudentInfo='student_marketing', ###, 'branch_dict'}</td>
                    <td class="text-center">{$val.level}</td>
                </tr>
            </foreach>
        <else />
            <tr>
                <td colspan="99" class="text-center">暂无任何数据</td>
            </tr>
        </if>
    </table>
    <div class="pagination">
    {$page}
</div>
</form>
    