<table class="table table-bordered center-block" style="width:97.5%; margin-bottom:0px;">
    <tr style="background-color:#e8e8e8;">
        <td colspan="2" align="center">客户信息</td>
    </tr>
            
<tr style="background-color:#e8e8e8;">
<!--     <td colspan="2">
        <span class="pull-left" style="line-height: 30px;">最近沟通时间：</span>
<select class="form-control pull-left" style="width:120px;" onchange='chooses(this);'>
                            <option>-请选择-</option>
                            <option value="">今天</option>
                            <option value="">昨天</option>
                            <option value="">明天</option>
                           <option value="其它">其他</option>
                        </select>
                        <div id="testt" style="display:none;">    
                        <input type="text" name="q" readonly class="form_datetime form-control q pull-left input-sm" style="width:200px;  margin: 0 15px;">  
                        <span class="pull-left" style="line-height: 30px;">至</span>
                            <script type="text/javascript">
                                $(".q").datetimepicker({format: 'yyyy-mm-dd h:i:s'});
                                     </script> 
                        <input type="text" name="w" readonly class="form_datetime form-control q2 pull-left input-sm" style="width:200px;  margin: 0 15px;">
                            <script type="text/javascript">
                                $(".q2").datetimepicker({format: 'yyyy-mm-dd h:i:s'});
                           </script> 
                        </div>
                    </td>
                </tr>
<tr style="background-color:#e8e8e8;">
    <td colspan="2">
    <span class="pull-left" style="line-height: 30px;">创建时间：</span>
        <select class="form-control pull-left" name="guwen" style="width:120px;" onchange='choose(this);'>
            <option>-请选择-</option>
            <option>今天</option>
            <option>昨天</option>
            <option value="其它">其他</option>
        </select>
        <div id="test" style="display:none;">  
        <input type="text" name="q" readonly class="form_datetime form-control q3 pull-left input-sm" style="width:200px;  margin: 0 15px;"><span class="pull-left" style="line-height: 30px;">至</span>
            <script type="text/javascript">
                $(".q3").datetimepicker({format: 'yyyy-mm-dd h:i:s'});
            </script> 
           <input type="text" name="w" readonly class="form_datetime form-control q4 pull-left input-sm" style="width:200px;  margin: 0 15px;">
            <script type="text/javascript">
                $(".q4").datetimepicker({format: 'yyyy-mm-dd h:i:s'});
            </script> 
        </div>
    </td>
</tr>
<tr style="background-color:#e8e8e8;">
    <td>
        <form class="form-inline" action="__APP__?m=Admin&c=Xiaoshou&a=wodekehu" method="post">
        <span class="pull-left" style="line-height: 30px;">请选择课程顾问：</span>
            <select class="form-control pull-left" onChange="fun1(this)" name="guwen">
                <empty name="guwenid">
                    <option value="请选择课程顾问">- 请选择课程顾问 -</option>
                </empty>
                <notempty name="guwenid">
                    <option value="{$guwenid}">{$guwenid}</option>
                </notempty>
                <volist name="listtev" id="vo">
                    <option value="{$vo.s_genjin}">{$vo.s_genjin}</option>
                </volist>
            </select>
        <span class="pull-left" style="margin-left:30px; line-height: 30px;">请选择活动：</span>
            <select class="form-control pull-left" onChange="fun2(this)" name="huodongcx">
                <empty name="hudongid">
                    <option value="请选择活动">- 请选择活动 -</option>
                </empty>
                <notempty name="hudongid">
                    <option value="{$hudongid}">{$hudongid}</option>
                </notempty>
                <volist name="huodong" id="vo">
                    <option value="{$vo.s_xiangguanhuodong}">{$vo.s_xiangguanhuodong}</option>
                </volist>
            </select>
        <span class="pull-left" style="margin-left:30px; line-height: 30px;">请选择信息来源：</span>
            <select class="form-control pull-left" onChange="fun3(this)" name="laiyuan">
                <empty name="laiyid">
                    <option value="请选择信息来源">- 请选择信息来源 -</option>
                </empty>
                <notempty name="laiyid">
                    <option value="{$laiyid}">{$laiyid}</option>
                </notempty>
                <volist name="laiyuan" id="vo">
                    <option value="{$vo.s_laiyuan}">{$vo.s_laiyuan}</option>
                </volist>
            </select>
        </form>
    </td> -->
    <td width="80px">
        <a href="?m=Admin&c=Jiaoxue&a=shicxyxx&id={$vo.hd_id}&name={$vo.hd_name}&eid={$Think.session.userid}&xqid={$Think.session.xiaoquid}&clweizhi=销售" target="main" class="btn btn-success"  style="float:right; margin-right:18px;">新增</a>
    </td>
</tr>  
       <tr style="background-color:#e8e8e8;">
            <td colspan="1">
            <span class="pull-left" style="line-height: 30px;">跟进顾问：</span>
            <form action="__APP__?m=Index&a=fenpei" method="post">
                <input type="hidden" name="uid" value="{$Think.session.userid}">
                <if condition="in_array('分配权限',$gn)">
                    <select class="form-control pull-left"  style="width:163px;" name="guwen">
                        <option>-请选择课程顾问-</option>
                        <volist name="listvo" id="go">
                            <?php if(strpos($go['r_id'],'5')!==false){  ?>
                            <option value="{$go.u_id}">{$go.u_users}</option>
                            <?php   }?>
                        </volist>
                    </select>
                    <input class="btn btn-primary pull-left" style=" font-size: 14px;" type="submit" value="重新分配顾问" onclick="jlls()" />
                </if>
                <script>
                    function jlls() {  
                        if(window.confirm('确实要分配吗？')){
                            //alert("确定");
                            return true;
                        }else{
                            //alert("取消");
                            return false;

                        }
                    }//del end
                </script>
                <a herf="button" class="btn btn-success pull-left" style=" font-size: 14px;" data-toggle="modal" data-target="#myModal">客户信息转移</a>
                <script type="text/javascript">
                    function funs(){
                        var id='';
                        $(".a_id:checked").each(function function_name () {
                            id=id+$(this).val()+',';
                        });
                        $("#aidss").val(id);
                    }
                </script>

                <span class="pull-left" style="margin: 0 15px; line-height: 30px;">客户等级</span>
                <select class="form-control pull-left input-sm" style="width:163px; margin: 0 15px;" onChange="fun(this)">
                <empty name="dengjid">
                    <option value="请选择客户等级">- 请选择客户等级 -</option>
                </empty>
                <notempty name="dengjid">
                    <option value="{$dengjid}">{$dengjid}</option>
                </notempty>
                    <volist name="dengji" id="vo">
                        <option value="{$vo.s_kehudengji}">{$vo.s_kehudengji}</option>
                    </volist>
                </select>
            </td> 
            <td width="80px">
                <a href="?m=Admin&c=Xiaoshou&a=qzkhmain&id={$Think.session.userid}" style=" font-size: 14px;" class="btn btn-success">还原</a>
            </td>
       </tr>
        </table>
        <table class="table table-bordered center-block" style="width:97.5%; margin-top:0px;">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>联系人</th>
                    <th>邀约</th>
                    <th>到访</th>
                    <th>最近沟通时间</th>
                    <th>最近联系内容</th>
                    <th>课程顾问</th>
                    <th>下次联系时间</th>
                    <th>客户等级</th>
                    <th>信息来源</th>
                    <th>当前状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <volist name="results" id="val">
                    <tr>
                        <td>
                            <input name="a_id[]" class="a_id" type="checkbox" value="{$val.id}" onclick="funs()">
                            <a href="" target="main">{$val.name}</a>
                        </td>
                        <td class="text-center">{$val.sex_text}</td>
                        <td class="text-center">{$val.phone}</td>
                        <td class="text-center">{$val.id|findStudentInfo='student_family', ###, 'contact'}</td>
                        <td class="text-center">{$vo.s_yaoyue}</td>
                        <td class="text-center">{$vo.s_daofang}</td>
                        <td class="text-center">{$vo.s_zuijin_date}</td>
                        <td class="text-center">{$vo.s_goutong}</td>
                        <td class="text-center">{$vo.s_genjin}</td>
                        <td class="text-center">{$vo.s_xiaci_date}</td>
                        <td class="text-center">{$vo.s_kehudengji}</td>
                        <td class="text-center">{$vo.s_laiyuan}</td>
                        <td class="text-center">{$val.status}</td>
                        <td class="text-center">
                            <a href="{:U()}" class='btn btn-sm btn-success'>详情</a>
                            <a href="{:U('/sale/update', array('table'=>'customer', 'bid'=>I('get.bid'), 'id'=>$val['id']))}" class="btn btn-sm btn-warning" >更改</a>
                            <a href="{:U('/sale/move', array('table'=>'customer', 'bid'=>I('get.bid') ,'id'=>$val['id']))}" class="btn btn-sm btn-danger" onclick="if(confirm('确定要删除这次活动吗？')==false)return false;" >删除</a>
                        </td>
                    </tr>
            </volist>
        </table>
        </form>
    </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">客户转换</h4>
                </div>
                <div class="modal-body">
                    <form action="__APP__?c=Xiaoshou&a=zhuanhuan" method="post">
                    <input type="hidden" name="cz_id[]" value="" id="aidss">
                        <div class="form-group">
                            <label for="name">请选择转换位置：</label>
                            <br/>
                            <input type="radio" name="weizhi" value="退回客户">退回客户
                            &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="weizhi" value="失效客户">失效客户
                            &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="weizhi" value="死单客户">死单客户
                        </div>
                        <div class="form-group">
                            <label for="name">请描述转换原因：</label>
                            <textarea class="form-control" rows="2" name="yuanyin"></textarea>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-success" style="margin-right:20px;" type="submit" value="提交" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
